 
  @media only screen and (max-width: 768px) {
 .dispaly-flex{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
 }
 h2{
    text-align: center;
 }

 
.btn_add{
    background-color: #0a2558;
    padding: 10px 20px;
    color:white;
    outline: none;
    border: none;
    margin-top: 20px;
    float: right;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn_add a{
    background-color: #0a2558;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
  
}
.container{
  margin: 0;
}
  }